# Skopiuj ten plik jako .env.local i dostosuj do swojego środowiska
# cp .env.local.dist .env.local

APP_ENV=dev
APP_SECRET=change_me_to_random_32_chars_string

# PostgreSQL (Docker Compose)
DATABASE_URL="pgsql://watra:watra@127.0.0.1:5432/sylius_dev?serverVersion=16&charset=utf8"

# Mailpit (dev SMTP catcher — http://localhost:8025)
MAILER_DSN=smtp://127.0.0.1:1025

# Messenger (doctrine transport dla MVP)
MESSENGER_TRANSPORT_DSN=doctrine://default
SYLIUS_MESSENGER_TRANSPORT_MAIN_DSN=doctrine://default
SYLIUS_MESSENGER_TRANSPORT_MAIN_FAILED_DSN=doctrine://default?queue_name=main_failed
SYLIUS_MESSENGER_TRANSPORT_CATALOG_PROMOTION_REMOVAL_DSN=doctrine://default?queue_name=catalog_promotion_removal
SYLIUS_MESSENGER_TRANSPORT_CATALOG_PROMOTION_REMOVAL_FAILED_DSN=doctrine://default?queue_name=catalog_promotion_removal_failed
SYLIUS_MESSENGER_TRANSPORT_PAYMENT_REQUEST_DSN=sync://
SYLIUS_MESSENGER_TRANSPORT_PAYMENT_REQUEST_FAILED_DSN=sync://
