parameters:
    level: 5
    paths:
        - tests/
    ignoreErrors:
        - '#Call to static method PHPUnit\\Framework\\Assert::assertIs.+ with .+ will always evaluate to true#'
        - '#PHPDoc tag @var .+ contains generic interface .+ but does not specify its types#'
        - '#Call to an undefined method object::getRepository\(\)#'
